:root {
    /* these property are set in app.js */
    /* --color: #F6F6F6;
    --colorHover: #EFEFEF;
    --bg-color: red; */
    --h1-font-size: 3em;
    --h2-font-size: 2.5em;
    --h3-font-size: 2em;
    --h4-font-size: 1.75em;
    --h5-font-size: 1.5em;
    --h6-font-size: 1.25em;
    --p-font-size: 1em;
    --bg-img: url('../images/axiom-pattern.png')
}

#darkMode {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-color: var(--bg-color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid var(--color);
    z-index: 9999;
    transition: all 0.1s ease-in-out;
}

/* header */
header {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    background: transparent;
}

header .title {
    display: none;
}

header .hamburger {
    display: none;
}

header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: var(--h6-font-size) !important;
    height: 100%;
}

header ul li a {
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--color);
}

header ul li a:hover {
    color: var(--colorHover);
    text-decoration: underline;
    text-underline-offset: 10px;
}

header ul li a.active {
    color: #1B9C85;
}

/* home */

#home {
    width: 100%;
    height: 100svh;
    background-image: var(--bg-img);
    background-color: var(--bg-color);
}

#home .home-scials {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.home-content {
    padding: 0 20px;
    height: 100%;
    width: 100%;
    color: var(--color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-content h1 {
    letter-spacing: 2px;
    word-spacing: 2px;
    transform: scale(1, 1.1);
    font-weight: 900;
    margin-bottom: 30px;
}

.home-content p {
    letter-spacing: 2px;
}

/* about */

#about {
    border-top: 1px solid var(--color);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--color);
}

.about-container {
    padding: 250px 0;
    width: 70%;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
}

.about-heading {
    height: 60%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.about-content p {
    margin: 0;
    padding: 20px;
    font-weight: 500;
}

/* skills */

#skills {
    border-top: 1px solid var(--color);
    padding: 50px 0;
    background-color: var(--bg-color);
    color: var(--color);
    display: grid;
    align-items: center;
}

.skills-heading {
    text-align: center;
    padding: 20px;
    padding-top: 0;
}

.skills-heading h2 {
    font-weight: 600;
    letter-spacing: 1px;
}

.skills-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
}

.skills-content {
    padding: 30px 0;
}

.skills-content>h5 {
    color: var(--color2);
    font-weight: 600;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.skills-content>p {
    cursor: default;
    font-size: var(--h6-font-size);
    padding: 3px 0;
    transition: all 0.3s ease-in-out;
}

.skills-content>p:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    color: var(--colorHover);
}

/* projects */

#projects {
    border-top: 1px solid var(--color);
    background-color: var(--bg-color);
    color: var(--color);
    padding: 50px 0;
}

#projects .project-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#projects .project-heading h3 {
    font-weight: bold;
}

#projects .project-heading p {
    text-align: center;
    margin: 0;
    margin: 10px 0 30px 0;
    width: 80%;

}

#projects .project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#projects .project-cards>* {
    width: 80%;
    margin: 20px 0;
}

/* footer */
footer{
    height: 400px;
}
footer .footer-top{
    height: 80%;
    border-top: 1px solid var(--color);
    background-color: var(--bg-color);
    color: var(--color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
footer .footer-top H3{
    font-weight: bold;
    margin-bottom: 20px;
}
footer .footer-top p{
    margin-bottom: 20px;
}
footer .footer-bottom {
    height: 20%;
    border-top: 1px solid var(--color);
    background-color: var(--bg-color);
    color: #7a889b;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px) {

    /* header */

    header .title {
        letter-spacing: 1px;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        font-weight: bold;
        color: var(--color)
    }

    header .hamburger {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        color: var(--color);
    }

    header ul {
        visibility: hidden;

    }

    header.hamburger-active {
        background-color: var(--bg-color) !important;
        background-image: var(--bg-img) !important;
        height: 120%;
    }

    header.hamburger-active ul {
        visibility: visible;
        display: block;
        text-align: right;
        padding: 50px 30px;
    }

    header.hamburger-active ul li {
        padding: 30px 0;
    }

    /* home */

    .home-content p {
        letter-spacing: 1px;
    }

    /* about */
    .about-container {
        width: 95%;
        grid-template-columns: 100%;
        height: auto;
    }

    .about-heading {
        align-items: center;
        height: auto;
    }

    /* skills */
    .skills-container {
        grid-template-columns: 50% 50%;
    }

    .skills-content>h5 {
        padding-left: 20px !important;
        width: 200px;
    }

    .skills-content>p {
        padding-left: 20px !important;
    }

    /* projects*/
    #projects .project-cards {
        grid-template-columns: 1fr;
    }
}