.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1{
  font-size: var(--h1-font-size)!important;
}
h2{
  font-size: var(--h2-font-size)!important;
}
h3{
  font-size: var(--h3-font-size)!important;
}
h4{
  font-size: var(--h4-font-size)!important;
}
h5{
  font-size: var(--h5-font-size)!important;
}
h6{
  font-size: var(--h6-font-size)!important;
}
p{
  font-size: var(--p-font-size)!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
